
<div class="col-lg-10 col-md-9 col-sm-10 mt-list">
        <span class="badge bg-secondary">
          Connected: {{ connectedUser?.name | uppercase }}
        </span>
</div>

<ul class="list-group mt-list" style="height: 250px; overflow: scroll;">
  <ng-container *ngFor="let user of activeUsersObs | async">
    <li class="list-group-item" *ngIf="user.id !== connectedUser.id">
      <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-10">
        <span class="badge badge-pill bg-success">
          {{ user.name }}
        </span>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-10">
        <span class="badge badge-pill bg-info">
          {{ user.id }}
        </span>
        </div>
      </div>
    </li>
  </ng-container>
</ul>
